.beginning{
    text-align: center;
    background-color: green;
    font-family: 'Ubuntu', sans-serif;
    font-size: 200%;
    color: white;
    border-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35%;
    padding-right: 35%;
  }
* {
    box-sizing: border-box;
  }
  

/* Create three equal columns that floats next to each other */

.row{
  display: flex;

}
.row div{

  border:solid 5px green;
  padding:10px;

  /*float: left;
    width: 33.33%;
    padding: 10px;
    overflow: auto;
    min-height: 300px;
    border:solid 5px green;
    
  */
  }

.column-1{
  flex:1;

}

.column-2{
  flex:1;

}

.column-3{
  flex:1;;

}
.platforms{
  /*not needed for now*/
}
  .icons{
    
    width: 140px;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -70px; /*half the size of width*/
 
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.fa-discord{
    font-size: 70px;
    color: #7289DA;

  }

.fa-reddit{
    font-size: 70px;
    color: #FF4500;

  }

/*.fa-patreon{
  font-size: 70px;
  color: #f96854

}*/
