<!DOCTYPE html>
<html>
  <head>
    <!-- Initial Setup -->
    <meta charset="UTF-8">
    <title>Home:Sample</title>
    <!-- Cascading Style Sheets -->
    <link rel="stylesheet" href="demo.css">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
        <ul class="container__tabs">
            <li class="tab" data-index="0">Introduction</li>
            <li class="tab" data-index="1">Game basics</li>
            <li class="tab" data-index="2">Inventory</li>
        </ul>

        <div class="help">
            Help #1
        </div>

        <div class="help">
            Help #2
        </div>
        
        <div class="help">
            Help #3
        </div>
    </div>


    <!-- JavaScript -->
    <script src="demo.js"></script>
  </body>
</html>





