<!DOCTYPE html>
<html lang="en">
<head>
    <title>Domfights.io</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" text="text/css" href="../css/style.css">
    <link rel="stylesheet" text="text/css" href="../css/all.min.css">

</head>
<body>

<div class="beginning">
    <h1>Domfights.io</h1>
</div>


    <div id="myButtons">
        <button onclick="toggler()" class="button button1">Introduction</button>
        <button onclick="toggler2()" class="button button2">How-To-Play</button>
        <button onclick="toggler3()" class="button button2">Vehicle Inventory</button>

    </div>

    <div class="row">
        <div class="column-1">
        <h2>Introduction</h2>
        <p>Domfights.io is a free-to-play MMO shooter game currently under development. Each player controls a tank in an arena
            where they will fight other players. The goal of the game are to avoid Dominators and destroy as many enemy tanks as possible.
            The best will be on the top of the leaderboard.</p>
        </div>
        <div class="column-2">
        <h2>How-To-Play</h2>
        <p>Upon entering the game, players will be prompted to choose a vehicle of their choice. Once chosen, they can start fighting.
            The leaderboard shows the bests and are selected by the amount of kills. The higher the better. For each enemy tank destroyed,
            a 5% buff will be added to the player's tank. Once the buff tops over 250%, lower level competitors will be encouraged to target
            and hunt the target for a bonus reward. This may seem like an easy win but it's actually not as many obstacles will be in the way.
            Stationary artificially controlled big guns called "Dominators" will shoot at regular tanks within a radius to prevent them from reaching the goal.
            Dominators can be destroyed or temporarily immobilized. But for the most part, it is self-explanatory.
        </div>
        <div class="column-3">
        <h2>Vehicle Inventory</h2>
        <p> <dl>
            <dt><strong>Selectables</strong></dt>
                <dd>-Classic</dd>
                <dd>-Railgun</dd>
                <dd>-Derp</dd>
                <dd>-RLauncher</dd>
                <dd>-Oppressor</dd>

            <dt><strong>Obstacles</strong></dt>
                <dd>-Dominator</dd>
                <dd>-T27</dd>
                <dd>-Rock</dd>
                <dd>-Bushes</dd>
                </p>
            </div>
        </dl></p>
        </div>
    </div>

    <div class="icons">
        <a href="https://discord.gg/hGdNcSx" target="_blank"><i class="fab fa-discord"></i></a>
        <a href="https://reddit.com/r/domfights" target="_blank"><i class="fab fa-reddit"></i></a>
        <!--<i class="fab fa-patreon"></i>-->
    </div>

    
    <footer>Copyright © 2020 Steve</footer>
    <script src="../js/script.js"></script>

</body>
</html>
